/**
 * GENERAL
 */

:root {
    --main-header-font: 'Mrs Sheppards';
    --main-header-size: 42px;
    --main-text-font: 'Montserrat';
    --main-text-size: 18px;
    --mobile-text-size: 14px;
    --mobile-break-point: 600px;
}

body {
    background: #eeeeee;
    background-repeat: no-repeat;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header,
.section-mid,
.section-footer {
    width: 500px;
}

/**
 * HEADER
 */

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header h1 {
    font-family: var(--main-header-font), serif;
    font-size: var(--main-header-size);
    color: #E76D83;
    text-align: center;
}

.section-header h2 {
    font-family: var(--main-text-font), sans-serif;
    font-size: var(--main-text-size);
    font-weight: normal;
    color: #E76D83;
    text-align: center;
}

/**
 * HEADER
 * Mobile layout
 */

@media (max-width: 500px) {
    .section-header {
        margin: 25px 15px 0px 15px;
    }

    .section-header h2 {
        font-size: var(--mobile-text-size);
    }
}

/**
 * MIDDLE PART
 * General
 */

.section-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    height: 500px;
}

#playground {
    border: 5px solid lightpink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px grey;
    width: 100%;
    height: 100%;
}

.box {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid lightpink;
}

/**
 * MIDDLE PART
 * Mobile layout
 */

@media (max-width: 500px) {
    .section-header,
    .section-mid,
    .section-footer {
        width: 300px;
    }

    .section-mid {
        height: 300px;
    }
}

/**
 * FOOTER
 * General
 */

.section-footer {
    display: flex;
    font-family: var(--main-text-font), sans-serif;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

/**
 * FOOTER
 * Controls (number and button)
 */

.controls {
    border: 5px solid lightpink;
    box-shadow: 5px 5px 5px grey;
    background-color: #ffffff;
    width: 100%;
    margin: 0px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls-numberFields {
    margin: 10px;
}

.controls-errorMessage {
    color: #E76D83;
    font-weight: bolder;
}

.invisible {
    display: none;
}

input[type='text'] {
    font-family: var(--main-text-font), sans-serif;
    width: 35px;
    margin: 0px 5px;
}

.controls-button {
    margin: 10px;
}

button {
    background-color: #E76D83;
    color: #fff;
    font-family: var(--main-text-font), sans-serif;
    border: 1px solid grey;
    padding: 1px 5px;
}

button:hover {
    background-color: #fff;
    color: #E76D83;
}

/**
 * FOOTER
 * Colors
 */

.colors {
    border: 5px solid lightpink;
    box-shadow: 5px 5px 5px grey;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
}

.color {
    height: 20px;
    width: 20px;
    margin: 10px;;
    border: 1px solid grey;
}

.color:hover {
    transform: scale(1.1);
}

#palespringbud {
    background-color: hsl(61, 35%, 75%);
}

#cambridgeblue {
    background-color: hsl(154, 18%, 67%);
}

#airsuperiorityblue {
    background-color: hsl(202, 30%, 59%);
}

#bluemunsell {
    background-color: hsl(190, 75%, 37%);
}

#cybergrape {
    background-color: hsl(256, 30%, 38%);
}

#white {
    background-color: hsl(0, 0%, 100%);
}

/**
 * FOOTER
 * Mobile layout
 */

@media (max-width: 500px) {
    .controls-numberFields {
        font-size: var(--mobile-text-size);
        float: none;
    }

    .controls-errorMessage {
        font-size: var(--mobile-text-size);
        margin: 0px 10px 10px 10px;
        float: none;
    }
    
    .controls-button {
        font-size: var(--mobile-text-size);
        float: none;
        margin: 0px 0px 10px 10px;
    }

    .controls {
        margin: 0px 0px 15px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}