:root {
    --main-header-font: 'Mrs Sheppards';
    --main-header-size: 42px;
    --main-text-font: 'Montserrat';
    --main-text-size: 18px;
    --mobile-text-size: 14px;
    --mobile-break-point: 600px;
}

body {
    background: #eeeeee;
    background-repeat: no-repeat;
}

/*
div {
    border: 1px solid black;
}
*/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header,
.section-mid,
.section-footer {
    width: 600px;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header h1 {
    font-family: var(--main-header-font), serif;
    font-size: var(--main-header-size);
    color: #E76D83;
    text-align: center;
}

.section-header h2 {
    font-family: var(--main-text-font), sans-serif;
    font-size: var(--main-text-size);
    font-weight: normal;
    color: #E76D83;
    text-align: center;
}

@media (max-width: 600px) {
    .section-header {
        margin: 25px 15px 0px 15px;
    }

    .section-header h2 {
        font-size: var(--mobile-text-size);
    }
}

.section-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    height: 600px;
}

#playground {
    border: 5px solid lightpink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px grey;
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .section-header,
    .section-mid,
    .section-footer {
        width: 300px;
    }

    .section-mid {
        height: 300px;
    }
}

.box {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid lightpink;
}

.section-footer {
    display: flex;
    font-family: var(--main-text-font), sans-serif;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.controls {
    border: 5px solid lightpink;
    box-shadow: 5px 5px 5px grey;
    background-color: #ffffff;
    width: 100%;
}

.controls-numberFields {
    float: left;
    margin: 10px;
}

.controls-errorMessage {
    float: left;
    margin: 10px;
    color: #E76D83;
    font-weight: bolder;
}

input[type='text'] {
    font-family: var(--main-text-font), sans-serif;
    width: 35px;
    margin: 0px 5px;
}

.controls-button {
    float: right;
    margin: 10px;
}

button {
    background-color: #E76D83;
    color: #fff;
    font-family: var(--main-text-font), sans-serif;
    border: 1px solid grey;
    padding: 1px 5px;
}

button:hover {
    background-color: #fff;
    color: #E76D83;
}

@media (max-width: 600px) {
    .controls-numberFields {
        font-size: var(--mobile-text-size);
        float: none;
    }

    .controls-errorMessage {
        font-size: var(--mobile-text-size);
        margin: 0px 10px 10px 10px;
        float: none;
    }
    
    .controls-button {
        font-size: var(--mobile-text-size);
        float: none;
        margin: 0px 0px 10px 10px;
    }

    .controls {
        margin: 0px 0px 25px 0px;
    }
}